name: Java CI with Gradle

on:
  push:
    branches: [ "**" ]
    tags-ignore: [ "**" ]
  pull_request:

concurrency:
  group: "${{ github.workflow }}-${{ github.event.number || github.ref }}"
  cancel-in-progress: true

permissions:
  actions: write
  contents: write

jobs:
  build:
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    strategy:
      matrix:
        java: ["21"]
        os: ["ubuntu-latest"]
      fail-fast: true
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.0.0-rc.1
        with:
          cache-read-only: ${{ !startsWith(github.ref, 'refs/heads/master') || github.event_name == 'pull_request' }}
          dependency-graph: generate-and-submit
          dependency-graph-continue-on-failure: false
          add-job-summary-as-pr-comment: on-failure
          gradle-home-cache-cleanup: true
          build-scan-publish: true
          build-scan-terms-of-service-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-service-agree: "yes"

      - name: Build with Gradle
        run: ./gradlew build --scan

      - name: Upload build reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: build-reports
          path: "**/build/reports/"

#      - name: Determine status & prepare for publish
#        if: ${{ runner.os == 'Linux' }}
#        run: |
#          if [ "$(./gradlew properties | awk '/^version:/ { print $2; }' | grep '\-SNAPSHOT')" ]; then
#            echo "STATUS=snapshot" >> $GITHUB_ENV
#          else
#            echo "STATUS=release" >> $GITHUB_ENV
#          fi
#
#      - name: Publish
#        if: ${{ runner.os == 'Linux' && env.STATUS != 'release' && github.event_name == 'push' && startsWith(github.ref, 'refs/heads/master') }}
#        run: ./gradlew publish -x requireClean -x signMavenPublication
#        env:
#          ORG_GRADLE_PROJECT_mizuleUsername: ${{ secrets.MAVEN_USERNAME }}
#          ORG_GRADLE_PROJECT_mizulePassword: ${{ secrets.MAVEN_PASSWORD }}